  .advertise {
      /* background-color: var(--first-color); */
  }

  .advertiseText {
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: end;
  }

  .advertiseText h1 {
      color: white;
  }
 .advertiseText a {
     color: white;
 }
  .advertiseText p {
      color: white;
  }
  .advertiseText a {
      border-bottom: 2px solid white;
  }

  .advertiseImage {
      width: 100%;
  }

  .advertiseImage img {
     width: 100%;
     object-fit: contain;
  }

  @media screen and (max-width: 992px) {
      .advertiseImage img {
          
        object-fit: contain;
      }
  }